

body {
	margin: 60px;
}

#text {
	font-family: Helvetica, sans-serif;
	font-size: 8em;
	font-weight: bold;
  

}

#end {
  margin-right: .5em;

}

.one {
  color: #ff3d70;

}

.two {
  color: #ffd53d;

}

.colorme {
	animation-name: colorme;
	animation-duration: .1s;
	animation-fill-mode: forwards;
}

@keyframes colorme {
	100% { color: #ddd; }
}
