/*

Assignment 02 -
Rebecca Malagisi

Some description of the CSS styling

*/
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');
@import url('https://fonts.googleapis.com/css?family=Gidugu');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

html, body {
  height:100%;

}

h1 {
  text-align: center;
  font-family:'Quicksand', sans-serif;
  font-size: 48px;
  font-weight:700;
  margin-top: 120px;
  color: CadetBlue;

}


.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(12%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(12%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}
