/*

Assignment 01 - Interactive Personality
Rebecca Malagisi

Some description of the CSS styling

*/

body {
  height:100%;
  font-family: sans-serif;

}

#one {
  position: absolute;
  height:200px;
  width:200px;
  background-color: blue;
  top:100px;
  left:100px;
  border-radius: 50%;



}



#timer {
  position: absolute;
  top:20px;
  right: 20px;
  font-size: 32px;
  font-weight: bold;

  /*display:none;*/
}

#popup1 {
  display:none;

}
