/*

Assignment 01 - Interactive Personality
Rebecca Malagisi

Some description of the CSS styling

*/

@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');

body {
  height:100%;
  font-family: 'Hind', sans-serif;
  background-color: ghostwhite;

}

div {
  /*position: absolute;*/
  height:200px;
  width:200px;
  background-color: blue;

  /*border-radius: 50%;*/
  display: inline-block;
  z-index: 10;



}



#timer {
  position: absolute;
  top:20px;
  right: 20px;
  font-size: 32px;
  font-weight: bold;

  /*display:none;*/
}
