/*

Assignment 01 - Interactive Personality
Rebecca Malagisi

Not much here.
Some general css to things that aren't visible.

*/

@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');

body {
  height:100%;
  font-family: 'Hind', sans-serif;
  background-color: ghostwhite;

}


#timer {
  position: fixed;
  top:20px;
  right: 20px;
  font-size: 32px;
  font-weight: bold;

  display:none;
}
