@import url('https://fonts.googleapis.com/css?family=Cherry+Cream+Soda');




body {
  height:100%;
  background: #000;

}

#title {
  font-family: 'Cherry Cream Soda', cursive;
  font-size: 96px;
  position: fixed;
  z-index: 10;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  color:#ddd;


}


.image {
  position: absolute;
  z-index: -1;
}
